<div>

  <h2 class="page-header">{{accountabilityServices.AccountabilityForm.controls._id.value ? "Edit Accountability Record" : "New Accountability Record"}}</h2>

  <hr>

  <form [formGroup]="accountabilityServices.AccountabilityForm" (submit)="onSubmit()">
    <input type="hidden" name="id" formControlName = "_id">
    <input type="hidden" name="__v" formControlName = "__v">

    <div class="row">

      <div class="col-sm-4">
        <div class="form-group">
          <label for="Acc_ID">Accountability ID</label>
          <input type="text" formControlName="Acc_ID" name="Acc_ID" class="form-control" placeholder="EG. ACC-YYYY-MM-###"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('Acc_ID').errors && (accountabilityServices.AccountabilityForm.controls.Acc_ID.touched || accountabilityServices.AccountabilityForm.controls.Acc_ID.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('Acc_ID').errors" class="invalid-feedback">Pattern must be 'ACC-YYYY-MM-###'</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="Acc_DateIssued">Date Issued <span class="asterisk">*</span></label>
          <input type="text" formControlName="acc_date_i" name="Acc_DateIssued" bsDatepicker [bsConfig]="{adaptivePosition: true}" class="form-control" placeholder="MM/DD/YYYY"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_date_i').errors && (accountabilityServices.AccountabilityForm.controls.acc_date_i.touched || accountabilityServices.AccountabilityForm.controls.acc_date_i.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_date_i').errors" class="invalid-feedback">This field is required!</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="Acc_DateReturned">Date Returned</label>
          <input type="text" formControlName="acc_date_r" name="Acc_DateReturned" bsDatepicker [bsConfig]="{adaptivePosition: true}" class="form-control" placeholder="MM/DD/YYYY"> 
        </div>
      </div>

    </div>
    
    <div class="row">
      
      <div class="col-sm-4">
        <div class="form-group">
          <label for="Acc_ReceiverLastname">Last Name <span class="asterisk">*</span></label>
          <input type="text" formControlName="acc_rcvr_lname" name="Acc_ReceiverLastname" class="form-control" placeholder="Last name"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_rcvr_lname').errors && (accountabilityServices.AccountabilityForm.controls.acc_rcvr_lname.touched || accountabilityServices.AccountabilityForm.controls.acc_rcvr_lname.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_rcvr_lname').errors" class="invalid-feedback">This field is required!</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="Acc_ReceiverFirstname">Given Name <span class="asterisk">*</span></label>
          <input type="text" formControlName="acc_rcvr_fname" name="Acc_ReceiverFirstname" class="form-control" placeholder="Given Name"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_rcvr_fname').errors && (accountabilityServices.AccountabilityForm.controls.acc_rcvr_fname.touched || accountabilityServices.AccountabilityForm.controls.acc_rcvr_fname.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_rcvr_fname').errors" class="invalid-feedback">This field is required!</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="Acc_ReceiverMiddlename">Middle Name</label>
          <input type="text" formControlName="acc_rcvr_mname" name="Acc_ReceiverMiddlename" class="form-control" placeholder="Middle Name">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-5">
        <div class="form-group">
          <label for="Acc_ReceiverLocation">Location</label>
          <input type="text" formControlName="acc_rcvr_loc" name="acc_rcvr_loc" class="form-control" placeholder="EG. Workstation/VP Room/etc">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="Acc_ReceiverDepartment">Group/Department <span class="asterisk">*</span></label>
          <input type="text" formControlName="acc_rcvr_dept" name="Acc_ReceiverDepartment" class="form-control" placeholder="EG. IT/HR/etc"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_rcvr_dept').errors && (accountabilityServices.AccountabilityForm.controls.acc_rcvr_dept.touched || accountabilityServices.AccountabilityForm.controls.acc_rcvr_dept.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_rcvr_dept').errors" class="invalid-feedback">This field is required!</div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="Acc_ReceiverCellphoneNumber">Contact Number</label>
          <input type="text" formControlName="acc_rcvr_cn" name="acc_rcvr_cn" class="form-control" placeholder="Enter your contact number"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_rcvr_cn').errors && (accountabilityServices.AccountabilityForm.controls.acc_rcvr_cn.touched || accountabilityServices.AccountabilityForm.controls.acc_rcvr_cn.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_rcvr_cn').errors?.pattern" class="invalid-feedback">Numbers only please.</div>
        </div>
      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col-sm-4">
        <div class="form-group">
          <label for="Acc_BurrowedItemName">Name of borrowed item <span class="asterisk">*</span></label>
          <input type="text" formControlName="acc_i_name" name="acc_i_name" class="form-control" placeholder="EG. Lenovo ThinkPad T440p"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_i_name').errors && (accountabilityServices.AccountabilityForm.controls.acc_i_name.touched || accountabilityServices.AccountabilityForm.controls.acc_i_name.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_i_name').errors" class="invalid-feedback">This field is required!</div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="Acc_ItemClassification">Item Classification <span class="asterisk">*</span></label>
          <input type="text" formControlName="acc_i_clss" name="acc_i_clss" class="form-control" placeholder="EG. Laptop/Mouse/etc"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_i_clss').errors && (accountabilityServices.AccountabilityForm.controls.acc_i_clss.touched || accountabilityServices.AccountabilityForm.controls.acc_i_clss.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_i_clss').errors" class="invalid-feedback">This field is required!</div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group">
          <label for="Acc_ItemTagNumber">Tag Number <span class="asterisk">*</span></label>
          <input type="text" formControlName="acc_i_tnum" name="Acc_ItemTagNumber" class="form-control" placeholder="Type 'n/a' if blank"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_i_tnum').errors && (accountabilityServices.AccountabilityForm.controls.acc_i_tnum.touched || accountabilityServices.AccountabilityForm.controls.acc_i_tnum.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_i_tnum').errors" class="invalid-feedback">This field is required! Type "n/a" if there's no value.</div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group">
          <label for="Acc_ItemSerialNumber">Serial Number <span class="asterisk">*</span></label>
          <input type="text" formControlName="acc_i_ser" name="Acc_ItemSerialNumber" class="form-control" placeholder="Type 'n/a' if blank"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_i_ser').errors && (accountabilityServices.AccountabilityForm.controls.acc_i_ser.touched || accountabilityServices.AccountabilityForm.controls.acc_i_ser.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_i_ser').errors" class="invalid-feedback">This field is required! Type "n/a" if there's no value.</div>
        </div>
      </div>

      <div class="col-sm-1">
        <div class="form-group">
          <label for="Acc_ItemQuantity">Qty <span class="asterisk">*</span></label>
          <input type="text" formControlName="acc_i_count" name="Acc_ItemQuantity" class="form-control" placeholder="HM?"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('acc_i_count').errors && (accountabilityServices.AccountabilityForm.controls.acc_i_count.touched || accountabilityServices.AccountabilityForm.controls.acc_i_count.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_i_count').errors?.required" class="invalid-feedback">This field is required!</div>
          <div *ngIf="accountabilityServices.AccountabilityForm.get('acc_i_count').errors?.pattern" class="invalid-feedback">Numbers only please.</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-3">
        <div class="form-group">
          <label for="Acc_PO_ID">Purchase Order ID</label>
          <input type="text" formControlName="Acc_PO_ID" name="Acc_PO_ID" class="form-control" placeholder="EG. IT-YYYY-MM-#"
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('Acc_PO_ID').errors && (accountabilityServices.AccountabilityForm.controls.Acc_PO_ID.touched || accountabilityServices.AccountabilityForm.controls.Acc_PO_ID.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('Acc_PO_ID').errors?.pattern" class="invalid-feedback">Pattern must be 'IT-YYYY-MM-#'</div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="Acc_PO_SupplierName">Name of Supplier <span class="asterisk">*</span></label>
          <input type="text" formControlName="Acc_PO_SupplierName" name="Acc_PO_SupplierName" class="form-control" placeholder="EG. ABC Corp" 
          [ngClass]="{'is-invalid' : accountabilityServices.AccountabilityForm.get('Acc_PO_SupplierName').errors && (accountabilityServices.AccountabilityForm.controls.Acc_PO_SupplierName.touched || accountabilityServices.AccountabilityForm.controls.Acc_PO_SupplierName.dirty)}">
          <div *ngIf="accountabilityServices.AccountabilityForm.get('Acc_PO_SupplierName').errors" class="invalid-feedback">This field is required!</div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="Acc_InvoiceNumber">Invoice Number</label>
          <input type="text" formControlName="Acc_InvoiceNumber" name="Acc_InvoiceNumber" class="form-control" placeholder="EG. ########">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="Acc_Remarks">Remarks</label>
          <input type="text" formControlName="acc_i_remarks" name="acc_i_remarks" class="form-control" placeholder="Comments, etc., ...">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-1">
        <input type="submit" class="btn btn-info" [disabled]="accountabilityServices.AccountabilityForm.invalid" value="Submit">
      </div>

      <div class="col-sm-5">
        <small class="form-text" style="color: red;">Fields marked with asterisk(*) are required.</small>
      </div>

    </div>
    
  </form>
</div>