<div class="jumbotron">
  <div class="container">
    <h1 class="display-3" style="font-weight: 400">
      <img src="../../../assets/logo.png" height="80px" width="80px">Welcome to your Dashboard!
    </h1>
    <p>This is your dashboard. Click the button below or links at the navigation bar where you want to go.</p>
    <hr>
    <p>
      <a class="btn btn-info btn-default" [routerLink] = "['/dashboard/users']" role="button">Users</a>
      <a class="btn btn-secondary btn-default" [routerLink] = "['/dashboard/emps']" role="button">Employees</a>
      <a class="btn btn-info btn-default" [routerLink] = "['/dashboard/pos']" role="button">Purchase Orders</a>
      <a class="btn btn-secondary btn-default" [routerLink] = "['/dashboard/accs']" role="button">Accountabilities</a>
    </p>
  </div>
</div>

