<div class="row">

  <div class="col-sm-3">
    <h2 class="page-header">Accountabilities</h2>
  </div>

  <div class="col-sm-7">
    <input type="text" matInput (keyup)="Search($event.target.value)" class="form-control" placeholder="Search for...">
  </div>

  <div class="col-sm-2">
    <button (click)="onAddAccountability()" class="btn btn-info">Add</button>
      <span class="button-separator"></span>
    <button (click)="exportAccountabilityRecordToExcel()" class="btn btn-secondary">Export</button>
  </div>

</div>

<hr>

<div class="container">
  <table mat-table [dataSource]="AccountablityRecords">

    <ng-container matColumnDef="Accountability_ReceiverLastname">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_rcvr_lname}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_ReceiverFirstname">
      <th mat-header-cell *matHeaderCellDef> Given Name </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_rcvr_fname}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_ReceiverMiddlename">
      <th mat-header-cell *matHeaderCellDef> Middle Name </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_rcvr_mname}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_ReceiverCellphoneNumber">
      <th mat-header-cell *matHeaderCellDef> Cellphone No. </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_rcvr_cn}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_ReceiverDepartment">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_rcvr_dept}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_ReceiverLocation">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_rcvr_loc}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_DateIssued">
      <th mat-header-cell *matHeaderCellDef> Date Issued </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_date_i | date}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_DateReturned">
      <th mat-header-cell *matHeaderCellDef> Date Returned </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_date_r | date}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_BurrowedItemName">
      <th mat-header-cell *matHeaderCellDef> Item Burrowed </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_i_name}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_ItemClassification">
      <th mat-header-cell *matHeaderCellDef> Item Classification </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_i_clss}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_ItemQuantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_i_count}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_ItemTagNumber">
      <th mat-header-cell *matHeaderCellDef> Tag Number </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_i_tnum}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_ItemSerialNumber">
      <th mat-header-cell *matHeaderCellDef> Serial Number </th>
      <td mat-cell *matCellDef="let element"> {{element.acc_i_ser}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_Remarks">
        <th mat-header-cell *matHeaderCellDef> Remarks </th>
        <td mat-cell *matCellDef="let element"> {{element.acc_i_remarks}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Accountability_ID">
        <th mat-header-cell *matHeaderCellDef> Accountablity ID </th>
        <td mat-cell *matCellDef="let element"> {{element.Acc_ID}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Accountability_PO_ID">
        <th mat-header-cell *matHeaderCellDef> PO ID </th>
        <td mat-cell *matCellDef="let element"> {{element.Acc_PO_ID}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_PO_SupplierName">
        <th mat-header-cell *matHeaderCellDef> Supplier Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Acc_PO_SupplierName}} </td>
    </ng-container>

    <ng-container matColumnDef="Accountability_InvoiceNumber">
        <th mat-header-cell *matHeaderCellDef> Invoice Number </th>
        <td mat-cell *matCellDef="let element"> {{element.Acc_InvoiceNumber}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Edit/DeleteButtons" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let acc_row">

        <button mat-icon-button (click)="onEditAccountability(acc_row)">
          <mat-icon>update</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="onDeleteAccountability(acc_row._id)">
          <mat-icon>delete_outline</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="AccountabilityColumns" class="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: AccountabilityColumns;" class="element-row"></tr>

  </table>
</div>
  
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 50, 100]"  [showFirstLastButtons] = "true"></mat-paginator>