/* table */
table {
    padding: 0px;
    width: 100%;
    /* min-width: 50px; */
}
/* table headers */
th.mat-header-cell {
    text-align: center;
}
/* table cells */
td.mat-cell {
    text-align: center;
}
/* table row hovering */
tr.element-row:hover {
    background: #f5f5f5;
}
/* horizontal scroll */
.container {
    padding: 0px;
    overflow-x: auto;
}
