<div class="jumbotron">
  <div class="container">
    <h1 class="display-3" style="font-weight: 400">
      <img src="../../../assets/logo.png" height="80px" width="80px"> ProV Inventory
    </h1>
    <p>
      An OJT Project for solving the hassle of alt-tabbing.
    </p>
    <hr>
    <p>
      <button (click)="onLogin()" class="btn btn-info">Login</button>
        <span class="button-separator"></span>
      <button (click)="onRegister()" class="btn btn-secondary">Register</button>
    </p>
  </div>
</div>

